<h3> Welcome <%= current_user.name %></h3>

<%= link_to "List all cars", '/cars', :class => "btn btn-primary" %>
<%= link_to "Reservations", '/reservationlog', :class => "btn btn-primary" %>
<%= link_to "Current reservation", '/currentreservations', :class => "btn btn-primary" %>
