<h3> Welcome <%= current_user.name %></h3>

<%= link_to "<button>List all cars/button>".html_safe, '/cars' %>
<%= link_to "<button>Reservations/button>".html_safe, '/reservationlog' %>
<%= link_to "<button>Current reservation</button>".html_safe, '/currentreservations' %>
