<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.name %></h1>
<p>
  Thank you for signing up with Express Cars!
  Find a ride near you. Don't let the journey stop!
</p>
</body>
</html>